.posts-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 2rem;
    article{
        width: 30%;
        .post-thumbnail{
            a{
                img{
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}
