
.content-cart{
overflow-x: hidden;
background-color:#F6F6F6 ;
.woocommerce{
   padding-top: 5%;
   padding-bottom: 5%;
    display: flex;
    flex-wrap:nowrap;
    height: auto;
    width: calc(100% + 40px);
    background-color: #F6F6F6;

    .woocommerce-cart-form{
       margin-left: 4rem;
        width: calc(57% - 20px);
        font-size: 16px;
        .shop_table_responsive {
            border: none;
            tbody{
                width: 100%;
                    .cart_item{    
                        .product-thumbnail{
                            width: 20%;
                        }
                        td{
                            border-top: none;
                        }
                        .product-name a{
                            color: black;
                        }
                      
                        .product-remove a.remove{
                            color: black !important;
                            &:hover{
                                background-color:black;
                                color: #fff !important;
                               
                            }
                        }
                        .product-quantity{
                   
                            .quantity{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                               
                                input[type="number"]{
                                    width: 62px;
                                    height: 32px;
                                    border: 1px solid rgba(122, 120, 120, 0.249);
                                    border-radius: 5px;
                                      
                                }

                                .prqu_minus, .prqu_plus{
                                    margin-right: 10px;
                                    margin-left: 10px;
                                    font-size: 24px;
                                }
                            }
                        }
                       
                    }
             }

        }
    }

    .cart-collaterals{
        height: fit-content;
        width: calc(30% - 20px);
        padding: 1%;
        background-color: #E2E7F0;
        margin-left: 2%;
        margin-top: 5%;
       .cart_totals{
             width: 100%;
            height: auto;
            display:block;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none;
            h2{
                width: 100%;
                text-align: left;
                font-size: 20px;
               
               }
               table{
                border: none;
                tr{
                    border: none;
                    .actions{
                        border: none;
                        .coupon{
                            
                            #coupon_code{
                                position: relative;
                                border: none;
                                width: 23rem;
                                padding: 0.7rem 1rem;
                                border: 1px solid black;
                            }
                            button{
                               
                                border-radius: 0;
                                padding: 0.7rem 1rem;
                                position: absolute;
                                right: 90px;
                                z-index: 1;
                                background-color: black;
                                border: 1px solid black;
                                color: #fff;
                            }

                        }
                    }
                }
               }
               .wc-proceed-to-checkout{
                display: flex;
                justify-content: center;
                .checkout-button{
                    width: 90%;
                    text-align: center;
                    background-color: black;
                    border-radius: 0;
                    padding: 0.7rem 1rem;
                }
               }
       }
    }
}
.other-products{
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    ul{
        li{
            .wc-block-components-product-image {
                display: flex;
                justify-content: center;
            }
        }
    }
}
}
.woocommerce-shipping-destination{
    display: none;
}
.woocommerce-shipping-calculator{
    display: none;
}


@media only screen and (max-width: 468px) {
    .content-cart{
        overflow-x: hidden;
    .woocommerce{
        margin-top: 2%;
        display: flex;
        flex-wrap:wrap;
        height: auto;
        .woocommerce-cart-form {
            width: 100%; 
            margin-bottom: 20px; 
            margin-left: 10px;
            margin-right: 10px;
            .shop_table_responsive {
                border: none;
                width: 90%;
                margin-left: 0;

                tbody{
                    width: 100%;
                        .cart_item{
                            border-bottom: 2px solid rgb(212, 212, 212);
                            .product-thumbnail{
                                width: 100%;
                            }
                            td{
                                border-top: none;
                               
                            }
                            .product-name a{
                                color: black;
                            }
                          
                            .product-remove{
                                display: flex;
                                justify-content: right;
                            }
                            .product-remove a.remove{
                                color: black !important;
                                &:hover{
                                    background-color:black;
                                    color: #fff !important;
                                   
                                }
                            }
                            .product-quantity{
                                display: flex;
                                justify-content: space-between;
                                .quantity{
                                    
                                    input[type="number"]{
                                        width: 62px;
                                        height: 32px;
                                        border: 1px solid rgba(122, 120, 120, 0.249);
                                        border-radius: 5px;
                                          
                                    }
    
                                  
                                }
                            }
                           
                        }
                 }
    
            }
            
          }
      
          .cart-collaterals {
            height: auto;
            width: 100%; 
            margin-right: 10px;
            .cart_totals {
               /*   */
               h2{
                padding-left: 4%;
               }
            }
            .shop_table{
                padding-left: 0;
                tbody{
                    tr{
                       .actions{
                        padding-left: 0;
                        .coupon{
                            padding-left: 3%;
                            position: relative;
                            max-width:300px; 
                            text-align: left;
                            #coupon_code{
                               max-width:300px ; 
                            }
                            button{
                                position:absolute;
                                top: 0;
                                right: -40px;
                            }
                        }
                       } 
                    }
                    .cart-subtotal{
                        padding-right: 10px;
                        td{
                            width: 90%;
                        }
                    }
                }
            }
            .wc-proceed-to-checkout{
                justify-content: center;
                width: 90%;
                a{
                    max-width: 310px;
                }
               
            }
          }
    }
    }
   
  }

  @media only screen and (max-width: 768px) {
    .content-cart {
        overflow-x: hidden;
    }

    .woocommerce {
        margin-top: 2%;
        display: flex;
        flex-wrap: wrap;
        height: auto;

        .woocommerce-cart-form {
            width: 100%;
            margin-bottom: 20px;
            margin-left: 10px;
            margin-right: 10px;

            .shop_table_responsive {
                border: none;
                width: 90%;
                margin-left: 0;

                tbody {
                    width: 100%;

                    .cart_item {
                        border-bottom: 2px solid rgb(212, 212, 212);

                        .product-thumbnail {
                            width: 100%;
                        }

                        td {
                            border-top: none;
                        }

                        .product-name a {
                            color: black;
                        }

                        .product-remove {
                            display: flex;
                            justify-content: flex-end;
                        }

                        .product-remove a.remove {
                            color: black !important;

                            &:hover {
                                background-color: black;
                                color: #fff !important;
                            }
                        }

                        .product-quantity {
                            display: flex;
                            justify-content: space-between;

                            .quantity {
                                input[type="number"] {
                                    width: 62px;
                                    height: 32px;
                                    border: 1px solid rgba(122, 120, 120, 0.249);
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .cart-collaterals {
            height: auto;
            width: 100%;
            margin-right: 10px;

            .cart_totals {
                h2 {
                    padding-left: 4%;
                }
            }

            .shop_table {
                padding-left: 0;

                tbody {
                    tr {
                        .actions {
                            padding-left: 0;

                            .coupon {
                                padding-left: 3%;
                                position: relative;
                                max-width: 300px;
                                text-align: left;

                                #coupon_code {
                                    max-width: 300px;
                                }

                                button {
                                    position: absolute;
                                    top: 0;
                                    right: -40px;
                                }
                            }
                        }
                    }

                    .cart-subtotal {
                        padding-right: 10px;

                        td {
                            width: 90%;
                        }
                    }
                }
            }

            .wc-proceed-to-checkout {
                justify-content: center;
                width: 90%;

                a {
                    max-width: 310px;
                }
            }
        }
    }
}
