body {
    main.content-checkout {
        background-color: $secondary-background-color;
        .woocommerce {
            display: flex;
            width: 90%;
            height: auto;
            margin: auto;
            flex-direction: column;
            justify-content: center;
            form.checkout_coupon {
                .input-text {
                    height: 35px;
                }
            }
            .woocommerce-form-coupon-toggle,
            form.woocommerce-checkout {
                width: 100%;
                margin: auto;
            }
            form.woocommerce-checkout {
                display: flex;
                .col2-set {
                    width: 55%;
                    margin-right: 30px;

                    .col-1 {
                        width: 100% !important;

                        .woocommerce-billing-fields {
                            .woocommerce-input-wrapper {
                                input {
                                    width: 90% !important;
                                }
                            }
                            h3 {
                                @include h3-common-font-style;
                            }
                            label {
                                margin-top: 20px;
                                margin-bottom: 10px;
                                @include body-common-font-style;
                            }
                        }
                        #billing_address_1_field {
                            margin-bottom: 30px;
                        }
                    }
                    .col-1,
                    .col-2 {
                        .woocommerce-input-wrapper {
                            input,
                            span.select2-selection {
                                display: inline-block;
                                vertical-align: middle;
                                width: 211px;
                                height: 50px;
                                padding-left: 10px;
                                border-radius: 10px;
                                border: 1px solid #9F9F9F
                            }
                        }
                    }
                    .col-2 {
                        display: none;
                    }
                }
                // your orders & checkout method selection
                .custom-order-and-checkout {
                    width: 40%;
                }
                // Country / Region combobox
                .select2-selection__arrow {
                    position: inherit !important;
                    b {
                        left: 26% !important;
                    }
                }
            }
        }
    }
    // Country / Region combobox
    .select2-dropdown--below {
        width: 212px !important;
    }
}

// ----------------------
// checkout klarna page
// ----------------------
form.checkout.woocommerce-checkout.kco-checkout {
    #kco-wrapper {
        width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    body {
        main.content-checkout {
            .woocommerce {
                form.woocommerce-checkout {
                    flex-wrap: wrap;
                    height: auto;
    
                    #customer_details,
                    .custom-order-and-checkout {
                        width: 100%;
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}
