body {
  margin: 0;
  padding: 0;
  background-color: azure;
  font-family: "Roboto", sans-serif;
  color: rgb(34, 34, 34);

  .content {
    margin: 0 2rem;
  }

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

@mixin footer-store-info-style {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400; // Regular
  line-height: 40px;
  letter-spacing: -0.02em;
}

@mixin footer-contact-product-style {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400; // Regular
  line-height: 22px;
  letter-spacing: -0.02em;
}

@mixin footer-contact-product-mobile-style {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400; // Regular
  line-height: 22px;
  letter-spacing: -0.02em;
}

@mixin footer-store-info-mobile-style {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400; // Regular
  line-height: 22px;
  letter-spacing: -0.02em;
}