body {
  margin: 0;
  padding: 0;
  background-color: azure;
  font-family: "Roboto", sans-serif;
  color: rgb(34, 34, 34);

  .content {
    margin: 0 2rem;
  }

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  a:hover {
    transform: scale(1.1);
  }
}

@mixin footer-info-style {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin footer-contact-product-mobile-style {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400; // Regular
  line-height: 22px;
  letter-spacing: -0.02em;
}

@mixin footer-store-info-mobile-style {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400; // Regular
  line-height: 22px;
  letter-spacing: -0.02em;
}

@mixin shop-hero-title-font-style {
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  color: $primary-text-color;
}

@mixin page-not-found-h2-style {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin return-title-style {
  font-family: Roboto;
   font-size: 30px;
   font-weight: 700;
   line-height: 22px;
   letter-spacing: 0em;
} 

@mixin return-sub-title-style {
  font-family: Roboto;
   font-size: 20px;
   font-weight: 400;
   line-height: 22px;
   letter-spacing: 0em;
} 

@mixin return-text-style {
  font-family: Roboto;
   font-size: 16px;
   font-weight: 400;
   line-height: 32px;
   letter-spacing: 0.01em;
} 