.best-sellers-h3 {
  margin: 2rem 0 1.7rem;
}

.wpcp-carousel-section {
  margin: 0 0 2rem !important;

  .wpcp-prev-button i,
  .wpcp-next-button i {
    color: rgb(68, 68, 68) !important;
    font-size: 3rem;
  }
  .wpcp-prev-button i {
    left: 5px !important;
  }
  .wpcp-next-button i {
    right: 10px !important;
  }
  .wpcp-single-item {
    background-color: white;
    padding-bottom: 0;
    text-align: left;
    padding-top: 1.5rem !important;

    .wpcp-all-captions {
      position: relative !important;

      .woocommerce-product-rating {
        color: $orange !important;
        position: absolute !important;
        right: 8% !important;
        bottom: 48% !important;
      }
    }

    .wpcp-product-price {
      del {
        color: red;

        .woocommerce-Price-amount {
          color: red;

          span {
            color: red;
          }
        }
      }
      ins {
        text-decoration: none;
      }
    }

    .wpcp-product-price,
    .wpcp-product-title {
      text-align: left !important;
      padding: 0.5rem 0 !important;
      height: 3rem;
    }

    .wpcp-product-price span {
      color: gray;
      text-transform: uppercase;
    }
    .wpcp-cart-button p a {
      width: 100%;
      margin-bottom: 1rem;
      border-radius: 0;
      background: $green !important;
      color: white !important;
      transition: transform 0.3s ease;
    }

    .wpcp-cart-button p a:hover {
      transform: scale(1);
      border: 2px solid rgb(0, 58, 0);
    }
  }
  .wpcp-swiper-dots {
    display: none !important;
  }
}

.hero {
  padding: 0 4rem !important;
  margin: 0 -2rem;

  .wp-block-cover__background.has-white-background-color {
    display: none;
  }

  .hero-b {
    margin-bottom: 20px;
  }

  h3.hero-text {
    margin: 0;
    color: #121212;
    font-weight: 500;
  }
  p {
    line-height: 2rem;
  }
}

.blog-container {
  padding: 0 !important;
  .blog-image-div {
    padding-top: 2rem;
  }

  div h2 {
    margin-top: 3rem;

    a:hover {
      color: $green;
    }
  }
  .learn-more-link:hover {
    text-decoration: underline;
  }
}

.om-block {
  padding-top: 2rem !important;
}

.blog-block {
  margin: 2rem -2rem 0;
  padding: 2rem;
  background-color: #fff !important;
}

.blog-article-container {
  padding: 1rem 0;
  li {
    figure a:hover {
      border: 1px solid rgba(0, 0, 0, 0.305);
      transform: none;
    }

    h2 {
      height: 4rem;
      margin-bottom: 2rem;

      a:hover {
        color: $green;
        transform: none;
      }
    }
    p {
      line-height: 1.3rem;
      padding-bottom: 1rem;

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1025px) {
  .blog-container {
    flex-direction: column-reverse;
    gap: 0;
  }
  .wp-container-core-post-template-is-layout-1.wp-container-core-post-template-is-layout-1 {
    grid-template-columns: unset !important;
  }
  .blog-article-container {
    background-color: #fff !important;
    li {
      h2 {
        height: fit-content;
        margin-bottom: 1rem;
      }
    }
  }
  div.hero {
    padding: 2rem !important;

    .wp-block-cover__background.has-white-background-color {
      display: block;
    }
    div {
      background-position: center !important;
      background-size: cover !important;
      h3 {
        color: rgb(34, 34, 34) !important;
      }
      p {
        color: rgb(34, 34, 34) !important;
      }
    }
  }
}

@media (max-width: 431px) {
  div.hero {
    margin: 0 -1rem;
    div {
      h3 {
        font-size: 2rem !important;
      }
      p {
        font-size: 1rem !important;
        margin: 0.5rem;
      }
    }
  }

  .blog-image-div {
    padding-top: 0 !important;
  }

  .blog-block {
    padding: 1rem;
    margin: 0 -1rem;
  }

  .blog-container {
    div {
      h2 {
        margin-top: 0;
      }
      p {
        font-size: 16px !important;
      }
    }
  }
}
