$green: #378c0f;
$orange: #ff8a00;
$blue300: #e2e7f0;
$textblack: rgb(34, 34, 34);
$primary-background-color: azure;
$primary-text-color: #000000;
$secondary-text-color: #FFFFFF;
$tertiary-text-color: rgb(134, 131, 131);
$secondary-background-color: white;
$star-rating-full-color: #FFB547;
$star-rating-empty-color: #dfdedd;